<div class="Main">
	<p> Welcome to The Kidney Aquirer</p>
	<%= link_to 'Create an account', new_user_path %>
	<%= link_to 'Sign in', new_session_path %>
	<%= link_to 'Sign out', session_path %>
</div>