// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	position: absolute;
	width: 100%;
	left: -10px;
	top: -8px;
}
.gback {
	background-color: black;
	width:100%;
	height: 900px;

}
.gcontainer {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top:100px;
	width: 100%;
	height: 600px;
}

.inst {
	margin: 0px 0px 0px 48px;
	padding: 12px 12px 12px 12px;
	background-color: #67bdbf;
	width: 200px;
	height: 574px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.mid {
	border-style: solid;
  	border-width: 5px;
}
.instimg {
	width: 100px;
	height: 100%;
}
.flexinst {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #529799;
	justify-content: space-between;
	margin: 12px 0px  0px 0px;
}
.f {
	margin: 12px 12px 12px 12px;
}

