    <% if current_user %>
    <div class="S1">
      <p class="t"><%= current_user.username %> signed in</p>
     </div>
    <% end %>

    <% if flash[:notice].present? %>
      <div class="notice">
        <p class="t"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:error].present? %>
      <div class="errors">
        <p class="t"><b>Errors:</b>

        <%= flash[:error] %></p>
      </div>
    <% end %>